<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jsfLoginExample</display-name>
  <welcome-file-list>
    <welcome-file>/home.xhtml</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Login Database</description>
    <res-ref-name>jdbc/sakila</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
    <url-pattern>*.jsf</url-pattern>
    <url-pattern>*.xhtml</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest</display-name>
    <servlet-name>SessionTest</servlet-name>
    <servlet-class>www.weslni.com.SessionTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest</servlet-name>
    <url-pattern>/SessionTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.journaldev.jsf.beans.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionUtils</display-name>
    <servlet-name>SessionUtils</servlet-name>
    <servlet-class>com.journaldev.jsf.beans.SessionUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionUtils</servlet-name>
    <url-pattern>/SessionUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDAO</display-name>
    <servlet-name>LoginDAO</servlet-name>
    <servlet-class>com.journaldev.jsf.beans.LoginDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDAO</servlet-name>
    <url-pattern>/LoginDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataConnect</display-name>
    <servlet-name>DataConnect</servlet-name>
    <servlet-class>com.journaldev.jsf.beans.DataConnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataConnect</servlet-name>
    <url-pattern>/DataConnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorizationFilter</display-name>
    <servlet-name>AuthorizationFilter</servlet-name>
    <servlet-class>com.journaldev.jsf.beans.AuthorizationFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizationFilter</servlet-name>
    <url-pattern>/AuthorizationFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addpath</display-name>
    <servlet-name>addpath</servlet-name>
    <servlet-class>www.weslni.com.addpath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addpath</servlet-name>
    <url-pattern>/addpath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailValidator</display-name>
    <servlet-name>EmailValidator</servlet-name>
    <servlet-class>www.weslni.com.EmailValidator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>findpath</servlet-name>
  	<display-name>findpath</display-name>
  	<description></description>
  	<servlet-class>www.weslni.com.findpath</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BasicView</display-name>
  	<servlet-name>BasicView</servlet-name>
  	<servlet-class>www.weslni.com.BasicView</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Findpath</display-name>
  	<servlet-name>Findpath</servlet-name>
  	<servlet-class>www.weslni.com.Findpath</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Findp</display-name>
  	<servlet-name>Findp</servlet-name>
  	<servlet-class>www.weslni.com.Findp</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DBConnect</display-name>
  	<servlet-name>DBConnect</servlet-name>
  	<servlet-class>www.weslni.com.DBConnect</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DataAction</display-name>
  	<servlet-name>DataAction</servlet-name>
  	<servlet-class>www.weslni.com.DataAction</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Bean</display-name>
  	<servlet-name>Bean</servlet-name>
  	<servlet-class>www.weslni.com.Bean</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Find</display-name>
  	<servlet-name>Find</servlet-name>
  	<servlet-class>www.weslni.com.Find</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Trouverchemin</display-name>
  	<servlet-name>Trouverchemin</servlet-name>
  	<servlet-class>www.weslni.com.Trouverchemin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidator</servlet-name>
    <url-pattern>/EmailValidator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>findpath</servlet-name>
  	<url-pattern>/findpath</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BasicView</servlet-name>
  	<url-pattern>/BasicView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Findpath</servlet-name>
  	<url-pattern>/Findpath</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Findp</servlet-name>
  	<url-pattern>/Findp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DBConnect</servlet-name>
  	<url-pattern>/DBConnect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DataAction</servlet-name>
  	<url-pattern>/DataAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Bean</servlet-name>
  	<url-pattern>/Bean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Find</servlet-name>
  	<url-pattern>/Find</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Trouverchemin</servlet-name>
  	<url-pattern>/Trouverchemin</url-pattern>
  </servlet-mapping>
</web-app>